<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/sidebar.css">
  <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
  <script src="public/scripts/dashboard.js" defer></script>
</head>

<body>
  <div class="main-container">
    <?php include 'public/views/common/sidebar.html'; ?>

    <main class="content">
      <header class="dashboard-header">
        <h1 class="welcome-text">
          Cześć,
          <?php echo $_SESSION['user_firstname']; ?>!
        </h1>
        <p class="summary-text">
          Oto podsumowanie Twoich finansów.
        </p>
      </header>

      <!-- Sekcja podsumowania -->
      <section class="summary-section">

        <!-- WIDOK DESKTOP (2 kafelki) -->
        <div class="summary-desktop">
          <div class="summary-card">
            <p class="balance-label">Twoje całkowite saldo</p>
            <h2 class="status-negative">Jesteś winien</h2>
            <p class="summary-value desk-debt">0,00 zł</p>
            <p class="balance-label">Suma sald ze wszystkich grup.</p>
          </div>
          <div class="summary-card">
            <p class="balance-label">Twoje całkowite saldo</p>
            <h2 class="status-positive">Jesteś na plusie</h2>
            <p class="summary-value desk-credit">0,00 zł</p>
            <p class="balance-label">Łączna kwota do zwrotu dla Ciebie.</p>
          </div>
        </div>

        <!-- WIDOK MOBILE (1 duży kafelek) -->
        <div class="summary-mobile">
          <div class="mobile-main-card">
            <p class="balance-label">Twoje całkowite saldo</p>
            <h2 class="net-balance-value">0,00 zł</h2>
            <div class="card-divider"></div>
            <div class="balance-details">
              <p class="status-negative">Jesteś winien: <span class="mob-debt">0,00 zł</span></p>
              <p class="status-positive">Jesteś na plusie: <span class="mob-credit">0,00 zł</span></p>
            </div>
          </div>
        </div>

      </section>

      <h2 class="section-title">Twoje grupy</h2>

      <section class="groups-container">

      </section>

      <template id="group-card-template">
        <a href="" class="group-card">
          <h2 class="group-name">Nazwa grupy</h2>
          <p class="balance-label">Twoje saldo w tej grupie:</p>
          <p class="balance-value">0.00 zł</p>
        </a>
      </template>
    </main>
  </div>
</body>

</html>