<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/sidebar.css">
  <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
  <script src="public/scripts/dashboard.js" defer></script>
</head>

<body>
  <div class="main-container">
    <?php include 'public/views/common/sidebar.html'; ?>

    <main class="content">
      <header class="dashboard-header">
        <h1 class="welcome-text">
          Cześć,
          <?php echo $_SESSION['user_firstname']; ?>!
        </h1>
        <p class="summary-text">
          Oto podsumowanie Twoich finansów.
        </p>
      </header>

      <h2 class="section-title">Twoje grupy</h2>

      <section class="groups-container">

      </section>

      <template id="group-card-template">
        <a href="" class="group-card">
          <h2 class="group-name">Nazwa grupy</h2>
          <p class="balance-label">Twoje saldo w tej grupie:</p>
          <p class="balance-value">0.00 zł</p>
        </a>
      </template>
    </main>
  </div>
</body>

</html>