<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/sidebar.css">
  <script src="public/scripts/main.js" defer></script>
</head>

<body>
  <div class="main-container">
    <?php include 'public/views/common/sidebar.html'; ?>

    <main class="content">
      <header>
        <h1>Dashboard</h1>
        <p>Witaj z powrotem,
          <?php echo $_SESSION['user_email']; ?>!
        </p>
      </header>

      <section class="cards">
      </section>
    </main>
  </div>
</body>

</html>