<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/login.css">
  <title>Login</title>

</head>

<body>

  <form action="\login" method="post">

    <input type="hidden" name="csrf_token" value="<?php echo $_SESSION['csrf_token']; ?>">
    <h1 class="main-text">
      <img src="public/icons/logo.png" alt="logo.png" class="logo">
      SplitBill
    </h1>
    <h1 class="main-text">Witaj z powrotem!</h1>

    <?php if(isset($messages)): ?>

    <p class="messages">
      <?= $messages ?>
    </p>

    <?php endif; ?>

    <?php if(isset($error)): ?>

    <p class="error">
      <?= $error ?>
    </p>

    <?php endif; ?>
    <div class="input-container">
      <label for="email">Email</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/user--v1.png" alt="user icon" class="input-icon">
        <div class="vertical-line"></div>
        <input type="email" id="email" name="email" required placeholder="email@gmail.com">
      </div>
    </div>
    <div class="input-container">
      <label for="password">Hasło</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/lock--v1.png" alt="lock icon" class="input-icon">
        <div class="vertical-line"></div>
        <input type="password" id="password" name="password" required placeholder="*******">
      </div>
    </div>
    <button type="submit">Zaloguj się</button>
  </form>

</body>

</html>