<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTER - SplitBill</title>
  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>

<body>
  <form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="<?php echo $_SESSION['csrf_token']; ?>">
    <h1 class="main-text">
      <img src="public/icons/logo.png" alt="logo" class="logo">
      SplitBill
    </h1>

    <?php if(isset($messages)): ?>
    <p class="messages">
      <?= $messages ?>
    </p>
    <?php endif; ?>

    <?php if(isset($error)): ?>
    <p class="error">
      <?= $error ?>
    </p>
    <?php endif; ?>

    <div class="input-container">
      <label for="firstname">Imię</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/user--v1.png" alt="icon" class="input-icon">
        <div class="vertical-line"></div>
        <input name="firstname" id="firstname" type="text" required placeholder="John">
      </div>
    </div>

    <div class="input-container">
      <label for="lastname">Nazwisko</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/user--v1.png" alt="icon" class="input-icon">
        <div class="vertical-line"></div>
        <input name="lastname" id="lastname" type="text" required placeholder="Doe">
      </div>
    </div>

    <div class="input-container">
      <label for="email">Email</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/mail.png" alt="icon" class="input-icon">
        <div class="vertical-line"></div>
        <input name="email" id="email" type="email" required placeholder="email@gmail.com">
      </div>
    </div>

    <div class="input-container">
      <label for="password">Hasło</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/lock--v1.png" alt="icon" class="input-icon">
        <div class="vertical-line"></div>
        <input name="password" id="password" type="password" required placeholder="******">
      </div>
    </div>

    <div class="input-container">
      <label for="password2">Powtórz hasło</label>
      <div class="input-wrapper">
        <img src="https://img.icons8.com/material-outlined/24/000000/lock--v1.png" alt="icon" class="input-icon">
        <div class="vertical-line"></div>
        <input name="password2" id="password2" type="password" required placeholder="******">
      </div>
    </div>

    <button type="submit">Zarejestruj się</button>

    <div class="login-link" style="margin-top: 1rem; font-size: 0.9rem;">
      Masz już konto? <a href="/login"
        style="color: var(--main-color); text-decoration: none; font-weight: 600;">Zaloguj się</a>
    </div>
  </form>
</body>

</html>