body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: bisque;
  border-radius: 1rem;
  padding: 1.5rem;

  width: 45vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  outline: none;
}

input {
  border: 1px solid #ccc;
}

button {
  background: linear-gradient(45deg, #FFA500, #FF8C00);
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  form {
    width: 100vw;
  }

}